In [1]:
import pandas as pd
import numpy as np

# Age

In [63]:
input_age_df = pd.read_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/census_data_age_group.csv')

In [64]:
input_age_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52650 entries, 0 to 52649
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age group         52650 non-null  object
 1   ONSConstID        52650 non-null  object
 2   ConstituencyName  52650 non-null  object
 3   RegionID          52650 non-null  object
 4   RegionName        52650 non-null  object
 5   CountryID         52650 non-null  object
 6   CountryName       52650 non-null  object
 7   DateThisUpdate    52650 non-null  object
 8   DateOfDataset     52650 non-null  object
 9   Date              52650 non-null  int64
 10  Const%            52650 non-null  object
 11  ConstLevel        52650 non-null  int64
 12  Reg%              52650 non-null  object
 13  UK%               52650 non-null  object
dtypes: int64(2), object(12)
memory usage: 5.6+ MB

In [65]:
input_age_df

,Age group,ONSConstID,ConstituencyName,RegionID,RegionName,CountryID,CountryName,DateThisUpdate,DateOfDataset,Date,Const%,ConstLevel,Reg%,UK%
0,0-9,E14000554,Berwick-upon-Tweed,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,8.20%,6183,10.90%,11.80%
1,0-9,E14000569,Bishop Auckland,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,10.50%,9501,10.90%,11.80%
2,0-9,E14000574,Blaydon,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,10.30%,8921,10.90%,11.80%
3,0-9,E14000575,Blyth Valley,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,10.70%,9214,10.90%,11.80%
4,0-9,E14000641,City of Durham,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,8.60%,9221,10.90%,11.80%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52645,80+,W07000076,Caerphilly,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,3.83%,3338,5.12%,4.67%
52646,80+,W07000077,Islwyn,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,4.48%,3391,5.12%,4.67%
52647,80+,W07000078,Vale of Glamorgan,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,4.86%,4774,5.12%,4.67%
52648,80+,W07000079,Cardiff West,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,4.10%,3746,5.12%,4.67%
52649,80+,W07000080,Cardiff South and Penarth,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,4.18%,4538,5.12%,4.67%

In [66]:
def preprocess_census_age(age_df):
    # Step 1: Selecting specific columns
    cleaned_age_df = age_df[["Age group", "ConstituencyName", "ONSConstID", "RegionName", "Date", "Const%"]]
    # Step 2: Renaming columns
    cleaned_age_df.columns = ["age", "constituency_name", "constituency_id", "region", "year", "percentage"]
    # Step 3: Converting 'Year' to integer
    cleaned_age_df["year"] = cleaned_age_df["year"].astype(int)
    # Step 4: Converting 'Percentage' to numeric
    cleaned_age_df["percentage"] = pd.to_numeric(cleaned_age_df["percentage"].str[:-1]) / 100
    # Step 5: Spreading data using pivot
    cleaned_age_df = cleaned_age_df.pivot(index=["year", "constituency_name", "constituency_id"],
                          columns="age", values="percentage").reset_index()
    # Step 6: Convert year to integer
    cleaned_age_df["year"] = cleaned_age_df["year"].astype(int)
    return cleaned_age_df

In [67]:
preprocessed_age_df = preprocess_census_age(input_age_df)
#preprocessed_age_df.to_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/preprocessed_age.csv', index=False)

/var/folders/bq/jnyjwp3x1l52s_tgtr9v62kh0000gn/T/ipykernel_22614/2782221745.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_age_df["year"] = cleaned_age_df["year"].astype(int)
/var/folders/bq/jnyjwp3x1l52s_tgtr9v62kh0000gn/T/ipykernel_22614/2782221745.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_age_df["percentage"] = pd.to_numeric(cleaned_age_df["percentage"].str[:-1]) / 100

In [68]:
preprocessed_age_df.head()

age,year,constituency_name,constituency_id,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
0,2012,Aberavon,W07000049,0.1096,0.1164,0.1227,0.1266,0.1380,0.1357,0.1187,0.0794,0.0528
1,2012,Aberconwy,W07000058,0.0968,0.1085,0.0999,0.0966,0.1390,0.1369,0.1438,0.1041,0.0744
2,2012,Aberdeen North,S14000001,0.1000,0.1025,0.2460,0.1466,0.1206,0.1072,0.0843,0.0565,0.0363
3,2012,Aberdeen South,S14000002,0.0946,0.0915,0.1842,0.1499,0.1431,0.1296,0.0937,0.0659,0.0473
4,2012,Airdrie and Shotts,S14000003,0.1190,0.1207,0.1272,0.1299,0.1569,0.1335,0.1097,0.0708,0.0322

# Living status

In [39]:
input_living_df = pd.read_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/census_data_livingstatus.csv')

In [40]:
import pandas as pd
import numpy as np

def clean_census_livingstatus(living_df):
    # Step 1: Select columns
    cleaned_living_df = living_df[["ConstituencyName", "ONSConstID", "groups", "con_num", "con_2011_num"]]
    # Step 2: Rename columns
    cleaned_living_df.columns = ["constituency_name", "constituency_id", "group", "2021", "2011"]
    # Step 3: Gather columns
    cleaned_living_df = pd.melt(cleaned_living_df, id_vars=["constituency_name", "constituency_id", "group"],
                             var_name="year", value_name="N_housing")
    # Step 4: Group by Constituency and Year
    grouped_data = cleaned_living_df.groupby(["constituency_id", "year"])
    # Step 5: Calculate p_housing
    cleaned_living_df["p_housing"] = grouped_data["N_housing"].transform(lambda x: x / x.sum())
    # Step 6: Drop N_housing column
    cleaned_living_df = cleaned_living_df.drop("N_housing", axis=1)
    # Step 7: Spread data
    cleaned_living_df = cleaned_living_df.pivot_table(index=["year", "constituency_id", "constituency_name"],
                                                columns="group", values="p_housing", fill_value=0).reset_index()
    # Step 8: Rename columns
    cleaned_living_df.columns = [col.replace(" ", "_") for col in cleaned_living_df.columns]
    # Step 9: Convert year to integer
    cleaned_living_df['year'] = cleaned_living_df['year'].astype(int)
    return cleaned_living_df

In [41]:
preprocessed_living_df = clean_census_livingstatus(input_living_df)
preprocessed_living_df.head()

,year,constituency_id,constituency_name,Home_owners,Private_renters,Social_renters
0,2011,E14000530,Aldershot,0.671090,0.172328,0.156583
1,2011,E14000531,Aldridge-Brownhills,0.768726,0.083391,0.147883
2,2011,E14000532,Altrincham and Sale West,0.753809,0.121427,0.124764
3,2011,E14000533,Amber Valley,0.737292,0.116669,0.146038
4,2011,E14000534,Arundel and South Downs,0.778748,0.115487,0.105764

In [11]:
preprocessed_living_df.to_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/preprocessed_living.csv', index=False)

# Ethnicity

In [42]:
input_ethnicity_df = pd.read_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/census_data_ethnicity.csv')

In [43]:
input_ethnicity_df.head()

,ONSConstID,ConstituencyName,RegNationID,RegNationName,NatComparator,broad_ethnic_groups,con_pc_2021,con_pc_2011,rn_pc_2021,rn_pc_2011,ew_pc_2021,ew_pc_2011
0,E14000530,Aldershot,E12000008,South East,England & Wales,Asian,0.139035,0.097737,0.070116,0.052351,0.092544,0.07514
1,E14000531,Aldridge-Brownhills,E12000005,West Midlands,England & Wales,Asian,0.061441,0.040364,0.133473,0.107899,0.092544,0.07514
2,E14000532,Altrincham and Sale West,E12000002,North West,England & Wales,Asian,0.120815,0.055895,0.083949,0.062035,0.092544,0.07514
3,E14000533,Amber Valley,E12000004,East Midlands,England & Wales,Asian,0.008038,0.006702,0.080143,0.064727,0.092544,0.07514
4,E14000534,Arundel and South Downs,E12000008,South East,England & Wales,Asian,0.011055,0.009345,0.070116,0.052351,0.092544,0.07514

In [44]:
def clean_census_ethnicity(ethnicity_df):
    # Step 1: Select columns
    cleaned_ethnicity_df = ethnicity_df[["ConstituencyName", "ONSConstID", "broad_ethnic_groups", "con_pc_2021", "con_pc_2011"]]
    # Step 2: Rename columns
    cleaned_ethnicity_df.columns = ["constituency_name", "constituency_id", "group", "2021", "2011"]
    # Step 3: Replace values in the 'group' column
    cleaned_ethnicity_df["group"] = cleaned_ethnicity_df["group"].replace(
        {"Mixed or Multiple ethnic groups": "Mixed"}
    )
    # Step 4: Gather columns
    cleaned_ethnicity_df = pd.melt(cleaned_ethnicity_df, id_vars=["constituency_name", "constituency_id", "group"],
                                var_name="year", value_name="percentage")
    # Step 5: Spread data
    cleaned_ethnicity_df = cleaned_ethnicity_df.pivot_table(index=["constituency_id", "constituency_name", "year"],
                                                      columns="group", values="percentage", fill_value=0).reset_index()
    # Step 6: set year as integer
    cleaned_ethnicity_df['year'] = cleaned_ethnicity_df['year'].astype(int)
    return cleaned_ethnicity_df

In [45]:
# Assuming 'ethnicity' is your input DataFrame
preprocessed_ethnicity_df = clean_census_ethnicity(input_ethnicity_df)
#output_ethnicity_df[['Asian', 'Black', 'Mixed', 'White','Other']].sum(axis=1)
preprocessed_ethnicity_df.head()

/var/folders/bq/jnyjwp3x1l52s_tgtr9v62kh0000gn/T/ipykernel_22614/1382547110.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_ethnicity_df["group"] = cleaned_ethnicity_df["group"].replace(

group,constituency_id,constituency_name,year,Asian,Black,Mixed,Other,White
0,E14000530,Aldershot,2011,0.097737,0.019293,0.021343,0.006293,0.855334
1,E14000530,Aldershot,2021,0.139035,0.024624,0.025657,0.026179,0.784505
2,E14000531,Aldridge-Brownhills,2011,0.040364,0.009705,0.015525,0.003118,0.931288
3,E14000531,Aldridge-Brownhills,2021,0.061441,0.018840,0.023322,0.009774,0.886622
4,E14000532,Altrincham and Sale West,2011,0.055895,0.009763,0.021306,0.008696,0.904339

In [46]:
preprocessed_ethnicity_df.to_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/preprocessed_ethnicity.csv', index=False)

# Interpolate

In [56]:
import pandas as pd
from scipy.interpolate import interp1d

def interpolate_data_frame(df, year_start, year_end, start_col=3):
    years_sequence = list(range(year_start, year_end + 1))
    interpolated_df_hold = pd.DataFrame()

    for cons in df['constituency_name'].unique():
        df_filtered = df[df['constituency_name'] == cons]

        interpolated_values = {'constituency_name': cons, 'constituency_id': df_filtered['constituency_id'].iloc[0], 'year': years_sequence}

        for col in df_filtered.columns[start_col:]:
            interpolator = interp1d(df_filtered['year'], df_filtered[col], kind='linear', fill_value='extrapolate')
            interpolated_values[col] = interpolator(years_sequence)

        interpolated_df = pd.DataFrame(interpolated_values)

        if interpolated_df_hold.empty:
            interpolated_df_hold = interpolated_df
        else:
            interpolated_df_hold = pd.concat([interpolated_df_hold, interpolated_df])

    return interpolated_df_hold

In [57]:
preprocessed_living_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1146 entries, 0 to 1145
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               1146 non-null   int64
 1   constituency_id    1146 non-null   object
 2   constituency_name  1146 non-null   object
 3   Home_owners        1146 non-null   float64
 4   Private_renters    1146 non-null   float64
 5   Social_renters     1146 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 53.8+ KB

In [58]:
interpolated_age_df = interpolate_data_frame(preprocessed_age_df, 2010, 2024)
interpolated_living_df = interpolate_data_frame(preprocessed_living_df, 2010, 2024)
interpolate_ethicity_df = interpolate_data_frame(preprocessed_ethnicity_df, 2010, 2024)

In [59]:
# Save interpolated dataframes
interpolated_age_df.to_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/interpolated_age.csv', index=False)
interpolated_living_df.to_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/interpolated_living.csv', index=False)
interpolate_ethicity_df.to_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/interpolate_ethicity.csv', index=False)

In [60]:
final_merged_df = pd.merge(interpolated_age_df, interpolated_living_df, on=['constituency_id', 'year', 'constituency_name'], how='inner') \
                  .merge(interpolate_ethicity_df, on=['constituency_id', 'year','constituency_name'], how='inner')

In [61]:
final_merged_df.to_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/preprocessed_interpolated_census_data.csv', index=False)

In [62]:
final_merged_df

,constituency_name,constituency_id,year,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,Home_owners,Private_renters,Social_renters,Asian,Black,Mixed,Other,White
0,Aberavon,W07000049,2010,0.1068,0.1242,0.1227,0.1246,0.1446,0.1311,0.1149,0.0778,0.0528,0.686902,0.109669,0.203430,0.011438,0.002786,0.006774,0.001085,0.977918
1,Aberavon,W07000049,2011,0.1082,0.1203,0.1227,0.1256,0.1413,0.1334,0.1168,0.0786,0.0528,0.683026,0.113468,0.203506,0.012505,0.002964,0.007334,0.001331,0.975867
2,Aberavon,W07000049,2012,0.1096,0.1164,0.1227,0.1266,0.1380,0.1357,0.1187,0.0794,0.0528,0.679151,0.117268,0.203581,0.013573,0.003142,0.007893,0.001577,0.973816
3,Aberavon,W07000049,2013,0.1110,0.1125,0.1227,0.1276,0.1347,0.1380,0.1206,0.0802,0.0528,0.675276,0.121067,0.203657,0.014640,0.003320,0.008453,0.001823,0.971764
4,Aberavon,W07000049,2014,0.1121,0.1105,0.1242,0.1273,0.1310,0.1403,0.1210,0.0809,0.0528,0.671401,0.124867,0.203733,0.015708,0.003497,0.009013,0.002069,0.969713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8590,York Outer,E14001062,2020,0.0970,0.1300,0.1160,0.0990,0.1150,0.1380,0.1200,0.1110,0.0740,0.804331,0.108383,0.087286,0.025815,0.004488,0.014270,0.005977,0.949450
8591,York Outer,E14001062,2021,0.0967,0.1298,0.1182,0.1001,0.1092,0.1374,0.1217,0.1113,0.0756,0.801490,0.110718,0.087792,0.026006,0.004596,0.014796,0.006338,0.948264
8592,York Outer,E14001062,2022,0.0964,0.1296,0.1204,0.1012,0.1034,0.1368,0.1234,0.1116,0.0772,0.798649,0.113054,0.088297,0.026196,0.004703,0.015323,0.006700,0.947077
8593,York Outer,E14001062,2023,0.0961,0.1294,0.1226,0.1023,0.0976,0.1362,0.1251,0.1119,0.0788,0.795808,0.115389,0.088803,0.026387,0.004811,0.015849,0.007062,0.945891
8594,York Outer,E14001062,2024,0.0958,0.1292,0.1248,0.1034,0.0918,0.1356,0.1268,0.1122,0.0804,0.792967,0.117724,0.089308,0.026577,0.004918,0.016376,0.007423,0.944705